#bar-chart {
    font-size: 200px;
}

.hidden{
     opacity:0;
}
.visible{
     opacity:1;
}

h1 {
	color: grey;
	font-family: 'Noto Serif';
	font-size: 80px;
	font-weight: 700;
	line-height: 138px;
}

p {
	color: #333;
/*	font-family: 'Noto Serif';*/
	font-size: 20px;
/*	line-height: 54px;*/
}

a {
	color: black;	display: block;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 3px;
	margin-left: -6px;
	text-decoration: none;
	text-transform: uppercase;
}

a:hover {
	color: #333;
}

/* SUMMARY */
.summary-block{
    display: inline-table;
    width: 100%;
}

.summary-header{
    border: 3px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    overflow: visible;
}

.left-summary{
    width: 25%;
    display: inline-block;
    margin-right: 5%;
    vertical-align: middle;
}

.right-summary{
    width: 70%;
    display: inline-block;
    vertical-align: middle;
}

#emoji-table td .fa{
    display: table;
    font-size: 50px;
    margin-right: auto;
    margin-left: auto;
    color: white;
}

#emoji-table td{
    padding-top: 20px;
    padding-bottom: 15px;
}

#emoji-table p{
    font-weight: bold;
    color: white;
}

td > p{
    display: table;
    margin-right: auto;
    margin-left: auto;
}

.page-name{
    display: inline;
}

.page-emo-count{
    display: inline;
}

#best-worst-page-table tr, td, th{
    border: none;
}


#best-worst-page-table tr:nth-child(even){
    background-color: #97CACE;
    border-bottom: 1px solid white;
    color: #267b82;
}

#best-worst-page-table tr:nth-child(odd){
    background-color: #E6EFF0;
    border-bottom: 1px solid white;
    color: #267b82;
}

#best-worst-page-table th{
    background-color: #267b82;
    color: white;
    
}

#best-worst-page-table td{
    padding: 10px;
}

#best-worst-page-table td span{
    font-family: Arial;
}

/* Banner */
.image-container{
    background-color: black;
}

.background-img{
    height: 100%;
    width: 100%;
    display: block;
    z-index:0;
    position: absolute;
    margin-top: -83px;
}

.background-img-footer{
    height: 100%;
    width: 100%;
    display: block;
    z-index:0;
    position: absolute;
}

.header-logo{
    display: block;
    position: relative;
    z-index: 0;
}

.social-link{
    display: inline;
    margin-right: 20px;
    font-size: 25px;
}

.header-analyze{
    display: block;
    position: relative;
    z-index: 0;
}

.w3-xlarge{
    color: white;
}

.fa-reaction{
    color: #267b82;
}

/* navbar */
.w3-navbar li a{
    color: white;
}

.headline{
    color: black;
}

/* PAGE: TRAFFIC */
.gcharts-thead {
  border: 1px solid rgb(204, 204, 204);
  background-color: rgb(233, 233, 233);
}

.gcharts-thead:hover {
  background-color: rgb(243, 243, 243);
}

.gcharts-thead th.gradient {
  background-image: none;
  padding: 7px;
}

nav.effects ul li a:hover{
    background-color: black;
    color: white !important;
}

/*
.footer-block{
    background-color: white;
    z-index:1;
}

footer .fa{
    opacity: 1;
    z-index: 100;
}*/
