#bar-chart {
    font-size: 200px;
}

#title {
    color: #082b34;
    font-family: 'Rouge Script', cursive;
    font-size: 130px;
    font-weight: normal;
    line-height: 48px;
    margin: 0 0 50px;
    text-align: center;
    text-shadow: 1px 1px 2px #36BFAF;
}